#Sample dotenv file
#rename from sample.env to .env
#replace the values with real values for your database
# and generate your own secret keys from random GUIDs
#
# IMPORTANT!!  .env files should NOT go into your git repo!
#  REMEMBER to add .env to your .gitignore file.
MONGODB_HOST=cluster0.ys96vno.mongodb.net
MONGODB_USER=ekjotkaila
MONGODB_PASSWORD=
MONGODB_DATABASE=cluster0
MONGODB_SESSION_SECRET=7ab476a9-f396-4152-b766-7b56f630b557
NODE_SESSION_SECRET=a7168792-995d-4624-a898-78a3e568b673