<%- include("templates/header", {cssPage: "homepage"}) %> 

<div class="col-md-12 text-center">
    <img src="tutor2.png" alt=""  style="width: 90%; height: 40%;">
    <br> <br>
    <h1 class="text-center pb-2 pt-2">Achieve your goals with Student Success Web</h1>
    <br>
   
    <a class="btn btn-light text-center btn-lg" href="/profile">
     
        Get started
        <svg class="bi ms-1" width="25" height="25"><use xlink:href="#arrow-right-short"></use></svg>
    </a>
</div>

<%- include("templates/footer") %>
