<%- include("templates/header", {cssPage: "homepage"}) %>

<div class="col-md-12 text-center">
    <img src="tutor2.png" alt=""  style="width: 90%; height: 40%;">
    <br> <br>
    <h1 class="text-center pb-2 pt-2">Achieve your goals with 
        <a href="#" id="student" style="text-decoration: none; color:white;">Student</a> 
        <a href="#" id="success" style="text-decoration: none; color: white;">Success</a> 
        <a href="#" id="web" style="text-decoration: none; color: white;">Web</a>
    </h1>
    <br>
   
    <a class="btn btn-light text-center btn-lg " href="/profile">
        Get started
        <svg class="bi ms-1" width="25" height="25"><use xlink:href="#arrow-right-short"></use></svg>
    </a>
</div>

<%- include("templates/footer") %>
<script>
    let clickOrder = [];

document.getElementById('student').onclick = function() {
    clickOrder.push('student');
}

document.getElementById('success').onclick = function() {
    clickOrder.push('success');
}

document.getElementById('web').onclick = function() {
    if (clickOrder.length === 2 && clickOrder[0] === 'student' && clickOrder[1] === 'success') {
        // Correct order, redirect to /student route
        window.location.href = "/web";
    } else {
        // Incorrect order, reset the click order
        clickOrder = [];
    }
}

</script>