<%- include("templates/header", {cssPage: ""}) %> 

<div class="col-md-12 text-center">
    <img src="images/booksApple.jpeg" alt="" class="img-rounded" style="width: 150px; height: 150px;">
    <h1 class="text-center pb-2 pt-2">Achieve your goals with Student Success Web</h1>
    <h5 class="fw-normal text-center px-3">Student Success Web is the number one platform to empower and support students who are struggling or dropping out of school by offering personalized learning plans and identifying their learning style!</h5>
    <a class="btn btn-warning text-center btn-lg" href="/profile">
        Get started
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"></use></svg>
    </a>
</div>

<%- include("templates/footer") %>
