<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="flex-container">
    <div class="flex-slide home">
        <div class="flex-title">Profile</div>
        <div class="flex-about"><p>Click here to navigate to the About section of the website</p></div>
      </div>
    <div class="flex-slide about">
      <div class="flex-title">AI Tutoring</div>
      <div class="flex-about"><p>Click here to navigate to the About section of the website</p></div>
    </div>
    <div class="flex-slide work">
      <div class="flex-title"><br>Resources</div>
      <div class="flex-about"><p>Listing relevant snippets of work:</p>
        <ul>
          <li>First piece of work</li>
          <li>Second piece of work</li>
          <li>Third piece of work</li>
        </ul>
      </div>
    </div>

<div class="flex-slide contact">
  <a href="/progress" style="text-decoration: none; color: inherit;">
    <div class="flex-title">Progress</div>
    <div class="flex-about">
      <p>Use the contact form below</p>
    </div>
  </a>
</div>


      </div>
    </div>
  </div>
</body>
</html>


  <style>
    @import url('https://fonts.googleapis.com/css?family=Raleway');


 ul{
  color:white;
 }
body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
.flex-container {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-flex; /* Safari */
  display: flex;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    flex-direction: row;
  }
}
.flex-title {
  color: #f1f1f1;
  position: relative;
  font-size: 6vw;
  margin: auto;
  text-align: center;
  transform: rotate(90deg);
  top: 15%;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  @media screen and (max-width: 768px) {
    transform: rotate(0deg) !important;
  }
}
.flex-about {
  opacity: 0;
  color: #f1f1f1;
  position: relative;
  width: 70%;
  font-size: 2vw;
  padding: 5%;
  top: 20%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  line-height: 1.3;
  margin: auto;
  text-align: left;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  @media screen and (max-width: 768px) {
    padding: 0%;
    border: 0px solid #f1f1f1;
  }
}


.flex-slide {
  -webkit-flex: 1;  /* Safari 6.1+ */
  -ms-flex: 1;  /* IE 10 */    
  flex: 1;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;

}
.flex-slide p {

} 
.flex-slide ul li {

} 
.flex-slide:hover {
  -webkit-flex-grow: 3;
  flex-grow: 3;
}
.home {
  height: 100vh;
  background-color: grey;
  background-image: url('/profile.png');
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1628563694622-5a76957fd09c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW5zdGFncmFtJTIwcHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80); */
  background-size: 80%;
  background-position: center center;
  background-attachment: fixed;


}

@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

.flex-title-home {
  @media screen and (min-width: 768px) {
    transform: rotate(90deg);
    top: 15%;
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
/* ... (your other styles here) ... */

@media screen and (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  
  .flex-title {
    transform: rotate(0deg) !important;
  }
  
  .flex-about {
    padding: 0%;
    border: 0px solid #f1f1f1;
  }
  
  .flex-slide {
    overflow: auto;
    overflow-x: hidden;
  }
  
  .flex-slide p {
    font-size: 2em;
  }
  
  .flex-slide ul li {
    font-size: 2em;
  }
}



@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 15%;
  }
  50% {
    transform: rotate(0deg);
    top: 15%;
  }
  100% {
    transform: rotate(90deg);
    top: 15%;
  }
}

.flex-about-home {
  opacity: 0;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



.about {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/tutoring.png');

  background-size: 170%;
  background-position: center center;
  background-attachment: fixed; 
}
.contact-form {
  width: 100%;
}
input {
  width: 100%;
}
textarea {
  width: 100%;  
}
.contact {
  background-color: black;
    background-image:  url('/progress.png');
  background-size: 70%;
  background-position: center center;
  background-attachment: fixed;
}
.work {
  background-color: grey;
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://w0.peakpx.com/wallpaper/328/274/HD-wallpaper-bad-vibe-sad-sadness.jpg); */
  background-size: 100%;
  background-image:  url('/support.png');
  background-position: center center;
  background-attachment: fixed;
}




.cube1, .cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
  </style>


<script>
    (function(){
  $('.flex-container').waitForImages(function() {
    $('.spinner').fadeOut();
  }, $.noop, true);
  
  $(".flex-slide").each(function(){
    $(this).hover(function(){
      $(this).find('.flex-title').css({
        transform: 'rotate(0deg)',
        top: '10%'
      });
      $(this).find('.flex-about').css({
        opacity: '1'
      });
    }, function(){
      $(this).find('.flex-title').css({
        transform: 'rotate(90deg)',
        top: '15%'
      });
      $(this).find('.flex-about').css({
        opacity: '0'
      });
    })
  });
})();
</script>