<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body onload="NextQuestion(0)">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'>
      <span>
        <!-- Insert EJS code here if needed -->
      </span>
      <br>
      <span>
        <!-- Insert EJS code here if needed -->
      </span>
    </div>

    <main>
      <!-- End of quiz score modal -->
<div id = "border">
      <h1>Answer a quick 10 question quiz to find out what learning style you are!</h1>
    </div>
    <br><br>
        <button id="begin-button" class="ripple" >Begin!</button>
      </div>
    </main>

  </body>
</html>


<script>
    const beginButton = document.getElementById('begin-button');
    beginButton.addEventListener('click', () => {
      window.location.href = '/quiz'; // Replace "/quiz" with the actual route you want to redirect to
    });
  </script>











<style>
    #border{
        padding-left: 10%;
        padding-right:10%;
    }
    h1{
        padding-top: 5%;
        padding-bottom:5%;
        padding-left: 10%;
        padding-right:10%;
        border: 1px solid white;
    }
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body{
    height: 100%;
    
}



html{
    color:white;
}




main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.game-quiz-container{
    width: 40rem;
    height: 30rem;

    
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.game-details-container{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 0.5em;
}

.game-question-container{
    width: 80%;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 0.7rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 90%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 80%;
    height: 3rem;
    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
}



input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: #FFF;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 8rem;
    height: 2rem;
    border-radius: 10px;
    background: none;
    color: rgb(255, 255, 255);
 
    border: 2px solid rgb(255, 255, 255);
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: rgb(255, 255, 255);
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
   
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 20rem;
    width: 25rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
   
    height: 3rem;
    color: rgb(255, 255, 255);
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;

    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(253, 253, 253);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
    
     }

     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
  
    }

    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }

    .modal-content-container{
        width: 90%;
        height: 25rem;
    }


}

@media(min-width : 350px) and (max-width : 700px){
   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }
 

    .game-question-container{
        height: 8rem;
    }



    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }

}



@keyframes fadeIn {
    from {opacity: 1;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 1;}
    to {opacity: 1;}
  }










#display-question{
  font-family: "Helvetica", "Arial", sans-serif;
  justify-content: center;
  font-size: 1.6em;
  text-align: center;
  padding: 0.5em 0.5em;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  font-weight:0;
  color:#000;
  position: relative;
  background-color: #FFF;
}

#Ques{
  margin-top: 1em;
  font-size: 1.6em;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: 0em;
}

.game-quiz-container{
  margin-bottom: 6em;
}











/* Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #ffffff radial-gradient(circle, transparent 1%, #ffffff 1%) center/15000%;
  color:rgb(0, 0, 0);
}
.ripple:active {
  color:rgb(0, 0, 0);
  background-color: #ffee00;
  background-size: 100%;

  transition: background 0s;
}

/* Button style */
button {
 
  border: none;
  border-radius: 8px;
  width:75%;
  padding: 12px 18px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  outline: none;
  position: relative;
}




















  body {
    overflow: hidden;
    font-size: 1em;
    font-family: "Helvetica", "Arial", sans-serif;
    
   

  }
  
  .bubbly-button {
  
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    display: inline-block;
    font-size: 1em;
    padding: 0.5em 1em;
    height:3.7em;
    width:20em;
    appearance: none;
    background-color: #fff;
 
    color: #000;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
   
  }
 .bubbly-button:focus {
    outline: 0;
  }
  .bubbly-button:before, .bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  .bubbly-button:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, transparent 20%, #FFF 20%, transparent 30%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FFF 15%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  }
  .bubbly-button:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, transparent 10%, #FFF 15%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%), radial-gradient(circle, #FFF 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  }
  .bubbly-button:active {
    transform: scale(0.9);
    background-color: #FFF;
    box-shadow: 0 2px 25px #FFF;
  }
  .bubbly-button.animate:before {
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
  }
    .bubbly-button.animate:after {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
  }
  
  @keyframes topBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
    }
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
    }
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  @keyframes bottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
    }
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
    }
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }



















































  html {
    height: 110%;
    background: linear-gradient(0deg,#ffd90086, rgb(0, 0, 0) 40%);
    overflow-y: hidden;
  }
  
  
  #stars {
    width: 1.5px;
    height: 1.5px;
   
    overflow-y: hidden;
    box-shadow: 1935px 946px #FFF , 1501px 1361px #FFF , 1158px 1339px #FFF , 1784px 97px #FFF , 48px 1872px #FFF , 623px 108px #FFF , 1723px 626px #FFF , 1792px 716px #FFF , 868px 813px #FFF , 1533px 1946px #FFF , 1373px 1050px #FFF , 1945px 541px #FFF , 815px 240px #FFF , 1181px 909px #FFF , 1266px 354px #FFF , 1487px 891px #FFF , 1271px 348px #FFF , 582px 684px #FFF , 1880px 1708px #FFF , 1798px 701px #FFF , 1306px 809px #FFF , 1737px 970px #FFF , 1790px 1267px #FFF , 138px 871px #FFF , 236px 1497px #FFF , 924px 273px #FFF , 61px 243px #FFF , 453px 301px #FFF , 1269px 1539px #FFF , 1449px 157px #FFF , 114px 147px #FFF , 774px 568px #FFF , 344px 1296px #FFF , 749px 1655px #FFF , 680px 308px #FFF , 1626px 249px #FFF , 1087px 741px #FFF , 30px 434px #FFF , 1954px 1232px #FFF , 1074px 1196px #FFF , 2px 1196px #FFF , 502px 1141px #FFF , 581px 1998px #FFF , 1304px 1913px #FFF , 1868px 1010px #FFF , 95px 408px #FFF , 1335px 1214px #FFF , 1824px 911px #FFF , 737px 764px #FFF , 209px 45px #FFF , 1924px 456px #FFF , 218px 1061px #FFF , 715px 749px #FFF , 1967px 54px #FFF , 968px 1255px #FFF , 1234px 1680px #FFF , 1477px 976px #FFF , 18px 1536px #FFF , 1409px 1298px #FFF , 1100px 664px #FFF , 555px 989px #FFF , 257px 987px #FFF , 919px 736px #FFF , 1935px 1913px #FFF , 816px 1132px #FFF , 1276px 932px #FFF , 424px 961px #FFF , 140px 1px #FFF , 1450px 1888px #FFF , 142px 1590px #FFF , 826px 1839px #FFF , 1108px 1570px #FFF , 523px 1593px #FFF , 964px 1292px #FFF , 100px 1730px #FFF , 891px 605px #FFF , 947px 1122px #FFF , 1130px 822px #FFF , 595px 1741px #FFF , 1028px 1069px #FFF , 335px 767px #FFF , 1137px 1422px #FFF , 890px 1518px #FFF , 1841px 37px #FFF , 1236px 1228px #FFF , 1204px 769px #FFF , 1548px 1472px #FFF , 504px 874px #FFF , 1681px 1801px #FFF , 781px 1482px #FFF , 1268px 1786px #FFF , 1889px 1021px #FFF , 1372px 1039px #FFF , 1479px 168px #FFF , 1514px 948px #FFF , 1264px 105px #FFF , 1439px 1706px #FFF , 157px 1860px #FFF , 1814px 1501px #FFF , 1867px 1093px #FFF , 1834px 1083px #FFF , 1070px 175px #FFF , 1830px 214px #FFF , 432px 894px #FFF , 600px 1520px #FFF , 418px 567px #FFF , 99px 81px #FFF , 856px 246px #FFF , 1706px 1373px #FFF , 1085px 69px #FFF , 1580px 1562px #FFF , 1502px 1149px #FFF , 1965px 482px #FFF , 453px 682px #FFF , 277px 447px #FFF , 1062px 818px #FFF , 652px 556px #FFF , 1483px 1250px #FFF , 1343px 409px #FFF , 476px 828px #FFF , 1612px 1122px #FFF , 884px 609px #FFF , 994px 1342px #FFF , 1108px 1121px #FFF , 172px 317px #FFF , 313px 731px #FFF , 1364px 532px #FFF , 533px 1729px #FFF , 1045px 871px #FFF , 1848px 370px #FFF , 557px 290px #FFF , 744px 1954px #FFF , 1182px 953px #FFF , 1242px 932px #FFF , 1585px 797px #FFF , 585px 513px #FFF , 1199px 911px #FFF , 1960px 1131px #FFF , 1421px 1779px #FFF , 1759px 1488px #FFF , 1333px 691px #FFF , 49px 675px #FFF , 175px 796px #FFF , 1368px 1280px #FFF , 1666px 395px #FFF , 1454px 1962px #FFF , 1404px 1286px #FFF , 1698px 1620px #FFF , 1540px 1262px #FFF , 1139px 1874px #FFF , 557px 434px #FFF , 1723px 1755px #FFF , 1064px 1787px #FFF , 116px 240px #FFF , 392px 823px #FFF , 1895px 1663px #FFF , 117px 879px #FFF , 1916px 702px #FFF , 113px 520px #FFF , 1140px 667px #FFF , 1624px 1621px #FFF , 839px 1036px #FFF , 25px 1872px #FFF , 1814px 1204px #FFF , 1046px 1596px #FFF , 1068px 19px #FFF , 1646px 1064px #FFF , 602px 888px #FFF , 1982px 1155px #FFF , 1658px 373px #FFF , 935px 142px #FFF , 240px 1070px #FFF , 1071px 1205px #FFF , 1892px 275px #FFF , 990px 16px #FFF , 606px 1061px #FFF , 1533px 537px #FFF , 563px 1019px #FFF , 515px 824px #FFF , 786px 269px #FFF , 1750px 1798px #FFF , 1257px 602px #FFF , 1825px 1883px #FFF , 21px 1495px #FFF , 1610px 407px #FFF , 33px 480px #FFF , 893px 440px #FFF , 281px 1982px #FFF , 371px 1978px #FFF , 822px 1709px #FFF , 1257px 1886px #FFF , 33px 1532px #FFF , 1507px 1648px #FFF , 550px 847px #FFF , 1455px 979px #FFF , 1197px 80px #FFF , 814px 1144px #FFF , 565px 311px #FFF , 633px 900px #FFF , 527px 1537px #FFF , 1866px 697px #FFF , 618px 928px #FFF , 135px 893px #FFF , 1005px 81px #FFF , 1264px 418px #FFF , 959px 1524px #FFF , 57px 878px #FFF , 465px 225px #FFF , 860px 372px #FFF , 1479px 29px #FFF , 1419px 1111px #FFF , 1370px 1151px #FFF , 1643px 778px #FFF , 225px 443px #FFF , 1962px 860px #FFF , 371px 932px #FFF , 291px 627px #FFF , 1096px 793px #FFF , 1985px 1893px #FFF , 1414px 1910px #FFF , 1997px 1122px #FFF , 278px 1553px #FFF , 995px 420px #FFF , 1228px 653px #FFF , 1859px 123px #FFF , 61px 282px #FFF , 1226px 992px #FFF , 1505px 505px #FFF , 286px 1723px #FFF , 1151px 267px #FFF , 1129px 1983px #FFF , 227px 290px #FFF , 647px 1566px #FFF , 1824px 1373px #FFF , 798px 655px #FFF , 130px 965px #FFF , 682px 1611px #FFF , 603px 414px #FFF , 1621px 1901px #FFF , 772px 1443px #FFF , 215px 1630px #FFF , 998px 1078px #FFF , 246px 582px #FFF , 562px 1266px #FFF , 531px 1189px #FFF , 1598px 838px #FFF , 1821px 852px #FFF , 1111px 646px #FFF , 1567px 1968px #FFF , 107px 1416px #FFF , 926px 557px #FFF , 1133px 1988px #FFF , 225px 382px #FFF , 1926px 1043px #FFF , 500px 574px #FFF , 1552px 1750px #FFF , 1477px 440px #FFF , 1246px 849px #FFF , 1621px 701px #FFF , 1586px 483px #FFF , 1304px 633px #FFF , 1669px 465px #FFF , 1357px 1971px #FFF , 247px 795px #FFF , 1640px 203px #FFF , 804px 1885px #FFF , 688px 547px #FFF , 1222px 679px #FFF , 1579px 450px #FFF , 1711px 1012px #FFF , 904px 560px #FFF , 1516px 108px #FFF , 1034px 1522px #FFF , 1574px 178px #FFF , 366px 1585px #FFF , 1827px 227px #FFF , 1871px 1009px #FFF , 1742px 1502px #FFF , 1614px 337px #FFF , 819px 1670px #FFF , 1152px 1135px #FFF , 1781px 1093px #FFF , 40px 1886px #FFF , 685px 2000px #FFF , 967px 1583px #FFF , 636px 141px #FFF , 743px 1112px #FFF , 1519px 781px #FFF , 1986px 198px #FFF , 1507px 347px #FFF , 314px 1862px #FFF , 288px 980px #FFF , 517px 1136px #FFF , 1543px 55px #FFF , 1893px 729px #FFF , 943px 1477px #FFF , 970px 1022px #FFF , 740px 606px #FFF , 749px 694px #FFF , 1499px 1646px #FFF , 701px 1989px #FFF , 1500px 89px #FFF , 755px 1003px #FFF , 1210px 812px #FFF , 1219px 428px #FFF , 1267px 1240px #FFF , 121px 1232px #FFF , 1982px 1192px #FFF , 1654px 692px #FFF , 1717px 978px #FFF , 81px 18px #FFF , 524px 179px #FFF , 567px 1991px #FFF , 1041px 479px #FFF , 645px 2000px #FFF , 530px 1004px #FFF , 243px 1656px #FFF , 217px 380px #FFF , 185px 869px #FFF , 229px 1442px #FFF , 178px 601px #FFF , 822px 1532px #FFF , 894px 1167px #FFF , 1881px 1336px #FFF , 1378px 314px #FFF , 1240px 528px #FFF , 1338px 1893px #FFF , 132px 1713px #FFF , 1963px 1762px #FFF , 355px 1097px #FFF , 1359px 484px #FFF , 1764px 1849px #FFF , 550px 795px #FFF , 1091px 1340px #FFF , 1594px 775px #FFF , 1531px 571px #FFF , 1083px 363px #FFF , 780px 1170px #FFF , 824px 175px #FFF , 754px 1630px #FFF , 378px 335px #FFF , 1006px 1906px #FFF , 694px 911px #FFF , 888px 991px #FFF , 325px 1515px #FFF , 1449px 1534px #FFF , 1277px 314px #FFF , 1706px 65px #FFF , 32px 1106px #FFF , 994px 1122px #FFF , 1428px 153px #FFF , 1216px 1312px #FFF , 160px 605px #FFF , 1413px 1551px #FFF , 1934px 163px #FFF , 1920px 1378px #FFF , 1765px 1647px #FFF , 1209px 476px #FFF , 364px 1134px #FFF , 363px 56px #FFF , 1811px 1064px #FFF , 917px 1965px #FFF , 1010px 358px #FFF , 696px 227px #FFF , 909px 1872px #FFF , 1647px 1318px #FFF , 789px 193px #FFF , 370px 889px #FFF , 850px 1822px #FFF , 482px 1912px #FFF , 1163px 1294px #FFF , 427px 1492px #FFF , 1116px 930px #FFF , 214px 1091px #FFF , 284px 870px #FFF , 1763px 1222px #FFF , 709px 184px #FFF , 452px 227px #FFF , 82px 1957px #FFF , 1834px 342px #FFF , 1537px 1933px #FFF , 259px 133px #FFF , 1705px 521px #FFF , 1479px 1370px #FFF , 145px 1781px #FFF , 987px 745px #FFF , 480px 976px #FFF , 1188px 1847px #FFF , 1240px 1154px #FFF , 1548px 1518px #FFF , 1356px 33px #FFF , 179px 1918px #FFF , 1665px 1725px #FFF , 194px 343px #FFF , 697px 146px #FFF , 544px 355px #FFF , 1114px 1144px #FFF , 1112px 665px #FFF , 1292px 1337px #FFF , 1442px 813px #FFF , 112px 1019px #FFF , 1045px 978px #FFF , 1907px 795px #FFF , 577px 1648px #FFF , 1696px 414px #FFF , 1925px 1870px #FFF , 124px 906px #FFF , 49px 1489px #FFF , 459px 1498px #FFF , 1666px 1965px #FFF , 101px 587px #FFF , 1959px 1243px #FFF , 728px 983px #FFF , 192px 1855px #FFF , 1503px 994px #FFF , 1616px 652px #FFF , 624px 766px #FFF , 1739px 1623px #FFF , 1049px 1374px #FFF , 785px 42px #FFF , 1535px 623px #FFF , 1954px 1112px #FFF , 1590px 218px #FFF , 561px 1910px #FFF , 256px 1149px #FFF , 406px 1956px #FFF , 1683px 1747px #FFF , 1256px 19px #FFF , 735px 1980px #FFF , 773px 1297px #FFF , 1338px 874px #FFF , 1993px 1716px #FFF , 1328px 1354px #FFF , 1339px 1163px #FFF , 1574px 1936px #FFF , 612px 796px #FFF , 434px 1606px #FFF , 1332px 1718px #FFF , 1172px 1588px #FFF , 650px 1689px #FFF , 1790px 883px #FFF , 1208px 431px #FFF , 1854px 401px #FFF , 421px 1123px #FFF , 489px 863px #FFF , 574px 1393px #FFF , 1959px 1089px #FFF , 1667px 815px #FFF , 312px 161px #FFF , 972px 1039px #FFF , 1032px 947px #FFF , 554px 1874px #FFF , 1034px 907px #FFF , 153px 1304px #FFF , 1015px 604px #FFF , 1205px 1608px #FFF , 402px 381px #FFF , 1731px 723px #FFF , 67px 1568px #FFF , 1447px 1245px #FFF , 1602px 35px #FFF , 961px 834px #FFF , 701px 1103px #FFF , 1264px 754px #FFF , 6px 502px #FFF , 1589px 1379px #FFF , 1587px 582px #FFF , 1442px 694px #FFF , 2000px 513px #FFF , 1036px 487px #FFF , 1252px 545px #FFF , 1355px 1685px #FFF , 283px 397px #FFF , 878px 1390px #FFF , 1909px 1081px #FFF , 970px 676px #FFF , 183px 297px #FFF , 1225px 982px #FFF , 1994px 1717px #FFF , 866px 1870px #FFF , 316px 605px #FFF , 1693px 571px #FFF , 939px 1850px #FFF , 237px 463px #FFF , 1267px 84px #FFF , 1133px 1137px #FFF , 958px 1522px #FFF , 618px 475px #FFF , 1334px 1373px #FFF , 497px 1432px #FFF , 927px 1115px #FFF , 373px 1767px #FFF , 665px 1171px #FFF , 650px 1048px #FFF , 687px 899px #FFF , 1019px 968px #FFF , 628px 224px #FFF , 1316px 207px #FFF , 1059px 608px #FFF , 980px 874px #FFF , 488px 1344px #FFF , 970px 603px #FFF , 1928px 1026px #FFF , 1860px 1628px #FFF , 427px 1237px #FFF , 153px 876px #FFF , 866px 1266px #FFF , 1806px 131px #FFF , 1175px 844px #FFF , 437px 1492px #FFF , 1154px 1916px #FFF , 708px 1482px #FFF , 966px 482px #FFF , 809px 261px #FFF , 197px 85px #FFF , 1985px 522px #FFF , 614px 137px #FFF , 1810px 1052px #FFF , 1356px 1320px #FFF , 688px 990px #FFF , 1384px 1649px #FFF , 951px 297px #FFF , 1650px 1666px #FFF , 480px 903px #FFF , 1481px 550px #FFF , 1066px 218px #FFF , 227px 1926px #FFF , 192px 1367px #FFF , 1123px 416px #FFF , 1787px 261px #FFF , 567px 1936px #FFF , 1045px 447px #FFF , 1197px 859px #FFF , 497px 256px #FFF , 382px 102px #FFF , 391px 1731px #FFF , 1061px 890px #FFF , 999px 990px #FFF , 847px 207px #FFF , 1952px 374px #FFF , 588px 1115px #FFF , 738px 987px #FFF , 1413px 1132px #FFF , 33px 692px #FFF , 1434px 1687px #FFF , 1424px 1576px #FFF , 1411px 547px #FFF , 868px 1448px #FFF , 532px 103px #FFF , 515px 187px #FFF , 157px 1530px #FFF , 1598px 524px #FFF , 399px 1731px #FFF , 593px 752px #FFF , 201px 1186px #FFF , 1593px 844px #FFF , 1905px 1581px #FFF , 917px 731px #FFF , 1640px 1478px #FFF , 342px 1990px #FFF , 12px 1004px #FFF , 929px 716px #FFF , 1361px 1608px #FFF , 1012px 1113px #FFF , 1410px 1810px #FFF , 1486px 991px #FFF , 92px 1871px #FFF , 1324px 1502px #FFF , 195px 768px #FFF , 139px 1673px #FFF , 1250px 1967px #FFF , 432px 922px #FFF , 1933px 1302px #FFF , 1762px 630px #FFF , 1697px 495px #FFF , 462px 237px #FFF , 979px 331px #FFF , 442px 1713px #FFF , 1487px 859px #FFF , 1684px 461px #FFF , 432px 806px #FFF , 1659px 1958px #FFF , 26px 1804px #FFF , 494px 118px #FFF , 879px 1980px #FFF , 1436px 1576px #FFF , 1925px 1749px #FFF , 198px 618px #FFF , 560px 1147px #FFF , 1505px 1404px #FFF , 1822px 428px #FFF , 1063px 187px #FFF , 1254px 1684px #FFF , 1094px 575px #FFF , 782px 1756px #FFF , 1420px 1486px #FFF , 793px 1748px #FFF , 411px 1455px #FFF , 241px 5px #FFF , 1932px 1635px #FFF , 1198px 229px #FFF , 51px 133px #FFF , 960px 228px #FFF , 1817px 1880px #FFF , 109px 1828px #FFF , 1586px 693px #FFF , 1461px 1714px #FFF , 733px 1010px #FFF , 1840px 1326px #FFF , 227px 393px #FFF , 1943px 1548px #FFF , 333px 780px #FFF , 1980px 993px #FFF , 387px 1816px #FFF , 352px 1067px #FFF , 1828px 1370px #FFF , 828px 1705px #FFF , 1159px 371px #FFF , 86px 1011px #FFF , 273px 899px #FFF , 1034px 805px #FFF , 1570px 1830px #FFF , 313px 376px #FFF , 347px 1621px #FFF , 950px 1756px #FFF , 1428px 1553px #FFF , 1050px 528px #FFF , 113px 1713px #FFF , 1778px 440px #FFF , 558px 32px #FFF , 1494px 1770px #FFF , 1726px 808px #FFF , 1240px 1217px #FFF , 641px 205px #FFF , 1868px 614px #FFF , 550px 305px #FFF , 496px 1381px #FFF , 1146px 1214px #FFF , 986px 1002px #FFF , 1029px 1579px #FFF , 691px 199px #FFF , 1109px 851px #FFF , 319px 588px #FFF , 836px 1642px #FFF , 119px 1750px #FFF , 1887px 1492px #FFF , 1465px 1019px #FFF , 1860px 1150px #FFF , 208px 220px #FFF , 1868px 1333px #FFF , 119px 711px #FFF , 898px 1427px #FFF , 294px 437px #FFF , 851px 1843px #FFF , 1473px 1444px #FFF , 1559px 402px #FFF , 1117px 1461px #FFF , 893px 1637px #FFF , 238px 1052px #FFF , 1820px 1993px #FFF , 764px 1311px #FFF , 1551px 834px #FFF , 90px 1433px #FFF , 1923px 374px #FFF , 214px 81px #FFF , 1518px 97px #FFF , 173px 741px #FFF , 715px 674px #FFF , 1583px 482px #FFF , 1139px 193px #FFF , 393px 1859px #FFF , 912px 1111px #FFF , 1340px 1176px #FFF , 187px 788px #FFF , 93px 1671px #FFF , 777px 1524px #FFF , 189px 816px #FFF , 1260px 1275px #FFF , 298px 188px #FFF , 557px 1949px #FFF , 1023px 904px #FFF , 805px 931px #FFF , 186px 1068px #FFF , 1720px 1323px #FFF , 1312px 191px #FFF , 978px 631px #FFF , 1454px 908px #FFF , 385px 692px #FFF , 1089px 509px #FFF , 879px 11px #FFF , 546px 871px #FFF , 1865px 881px #FFF , 675px 1417px #FFF , 1326px 833px #FFF , 43px 317px #FFF , 280px 1776px #FFF , 429px 663px #FFF , 1621px 1377px #FFF , 1169px 729px #FFF , 677px 1739px #FFF;
    animation: animStar 50s linear infinite;
  }
  #stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    overflow-y: hidden;
    width: 1px;
    height: 1px;

    background: transparent;
    box-shadow: 1935px 946px #FFF , 1501px 1361px #FFF , 1158px 1339px #FFF , 1784px 97px #FFF , 48px 1872px #FFF , 623px 108px #FFF , 1723px 626px #FFF , 1792px 716px #FFF , 868px 813px #FFF , 1533px 1946px #FFF , 1373px 1050px #FFF , 1945px 541px #FFF , 815px 240px #FFF , 1181px 909px #FFF , 1266px 354px #FFF , 1487px 891px #FFF , 1271px 348px #FFF , 582px 684px #FFF , 1880px 1708px #FFF , 1798px 701px #FFF , 1306px 809px #FFF , 1737px 970px #FFF , 1790px 1267px #FFF , 138px 871px #FFF , 236px 1497px #FFF , 924px 273px #FFF , 61px 243px #FFF , 453px 301px #FFF , 1269px 1539px #FFF , 1449px 157px #FFF , 114px 147px #FFF , 774px 568px #FFF , 344px 1296px #FFF , 749px 1655px #FFF , 680px 308px #FFF , 1626px 249px #FFF , 1087px 741px #FFF , 30px 434px #FFF , 1954px 1232px #FFF , 1074px 1196px #FFF , 2px 1196px #FFF , 502px 1141px #FFF , 581px 1998px #FFF , 1304px 1913px #FFF , 1868px 1010px #FFF , 95px 408px #FFF , 1335px 1214px #FFF , 1824px 911px #FFF , 737px 764px #FFF , 209px 45px #FFF , 1924px 456px #FFF , 218px 1061px #FFF , 715px 749px #FFF , 1967px 54px #FFF , 968px 1255px #FFF , 1234px 1680px #FFF , 1477px 976px #FFF , 18px 1536px #FFF , 1409px 1298px #FFF , 1100px 664px #FFF , 555px 989px #FFF , 257px 987px #FFF , 919px 736px #FFF , 1935px 1913px #FFF , 816px 1132px #FFF , 1276px 932px #FFF , 424px 961px #FFF , 140px 1px #FFF , 1450px 1888px #FFF , 142px 1590px #FFF , 826px 1839px #FFF , 1108px 1570px #FFF , 523px 1593px #FFF , 964px 1292px #FFF , 100px 1730px #FFF , 891px 605px #FFF , 947px 1122px #FFF , 1130px 822px #FFF , 595px 1741px #FFF , 1028px 1069px #FFF , 335px 767px #FFF , 1137px 1422px #FFF , 890px 1518px #FFF , 1841px 37px #FFF , 1236px 1228px #FFF , 1204px 769px #FFF , 1548px 1472px #FFF , 504px 874px #FFF , 1681px 1801px #FFF , 781px 1482px #FFF , 1268px 1786px #FFF , 1889px 1021px #FFF , 1372px 1039px #FFF , 1479px 168px #FFF , 1514px 948px #FFF , 1264px 105px #FFF , 1439px 1706px #FFF , 157px 1860px #FFF , 1814px 1501px #FFF , 1867px 1093px #FFF , 1834px 1083px #FFF , 1070px 175px #FFF , 1830px 214px #FFF , 432px 894px #FFF , 600px 1520px #FFF , 418px 567px #FFF , 99px 81px #FFF , 856px 246px #FFF , 1706px 1373px #FFF , 1085px 69px #FFF , 1580px 1562px #FFF , 1502px 1149px #FFF , 1965px 482px #FFF , 453px 682px #FFF , 277px 447px #FFF , 1062px 818px #FFF , 652px 556px #FFF , 1483px 1250px #FFF , 1343px 409px #FFF , 476px 828px #FFF , 1612px 1122px #FFF , 884px 609px #FFF , 994px 1342px #FFF , 1108px 1121px #FFF , 172px 317px #FFF , 313px 731px #FFF , 1364px 532px #FFF , 533px 1729px #FFF , 1045px 871px #FFF , 1848px 370px #FFF , 557px 290px #FFF , 744px 1954px #FFF , 1182px 953px #FFF , 1242px 932px #FFF , 1585px 797px #FFF , 585px 513px #FFF , 1199px 911px #FFF , 1960px 1131px #FFF , 1421px 1779px #FFF , 1759px 1488px #FFF , 1333px 691px #FFF , 49px 675px #FFF , 175px 796px #FFF , 1368px 1280px #FFF , 1666px 395px #FFF , 1454px 1962px #FFF , 1404px 1286px #FFF , 1698px 1620px #FFF , 1540px 1262px #FFF , 1139px 1874px #FFF , 557px 434px #FFF , 1723px 1755px #FFF , 1064px 1787px #FFF , 116px 240px #FFF , 392px 823px #FFF , 1895px 1663px #FFF , 117px 879px #FFF , 1916px 702px #FFF , 113px 520px #FFF , 1140px 667px #FFF , 1624px 1621px #FFF , 839px 1036px #FFF , 25px 1872px #FFF , 1814px 1204px #FFF , 1046px 1596px #FFF , 1068px 19px #FFF , 1646px 1064px #FFF , 602px 888px #FFF , 1982px 1155px #FFF , 1658px 373px #FFF , 935px 142px #FFF , 240px 1070px #FFF , 1071px 1205px #FFF , 1892px 275px #FFF , 990px 16px #FFF , 606px 1061px #FFF , 1533px 537px #FFF , 563px 1019px #FFF , 515px 824px #FFF , 786px 269px #FFF , 1750px 1798px #FFF , 1257px 602px #FFF , 1825px 1883px #FFF , 21px 1495px #FFF , 1610px 407px #FFF , 33px 480px #FFF , 893px 440px #FFF , 281px 1982px #FFF , 371px 1978px #FFF , 822px 1709px #FFF , 1257px 1886px #FFF , 33px 1532px #FFF , 1507px 1648px #FFF , 550px 847px #FFF , 1455px 979px #FFF , 1197px 80px #FFF , 814px 1144px #FFF , 565px 311px #FFF , 633px 900px #FFF , 527px 1537px #FFF , 1866px 697px #FFF , 618px 928px #FFF , 135px 893px #FFF , 1005px 81px #FFF , 1264px 418px #FFF , 959px 1524px #FFF , 57px 878px #FFF , 465px 225px #FFF , 860px 372px #FFF , 1479px 29px #FFF , 1419px 1111px #FFF , 1370px 1151px #FFF , 1643px 778px #FFF , 225px 443px #FFF , 1962px 860px #FFF , 371px 932px #FFF , 291px 627px #FFF , 1096px 793px #FFF , 1985px 1893px #FFF , 1414px 1910px #FFF , 1997px 1122px #FFF , 278px 1553px #FFF , 995px 420px #FFF , 1228px 653px #FFF , 1859px 123px #FFF , 61px 282px #FFF , 1226px 992px #FFF , 1505px 505px #FFF , 286px 1723px #FFF , 1151px 267px #FFF , 1129px 1983px #FFF , 227px 290px #FFF , 647px 1566px #FFF , 1824px 1373px #FFF , 798px 655px #FFF , 130px 965px #FFF , 682px 1611px #FFF , 603px 414px #FFF , 1621px 1901px #FFF , 772px 1443px #FFF , 215px 1630px #FFF , 998px 1078px #FFF , 246px 582px #FFF , 562px 1266px #FFF , 531px 1189px #FFF , 1598px 838px #FFF , 1821px 852px #FFF , 1111px 646px #FFF , 1567px 1968px #FFF , 107px 1416px #FFF , 926px 557px #FFF , 1133px 1988px #FFF , 225px 382px #FFF , 1926px 1043px #FFF , 500px 574px #FFF , 1552px 1750px #FFF , 1477px 440px #FFF , 1246px 849px #FFF , 1621px 701px #FFF , 1586px 483px #FFF , 1304px 633px #FFF , 1669px 465px #FFF , 1357px 1971px #FFF , 247px 795px #FFF , 1640px 203px #FFF , 804px 1885px #FFF , 688px 547px #FFF , 1222px 679px #FFF , 1579px 450px #FFF , 1711px 1012px #FFF , 904px 560px #FFF , 1516px 108px #FFF , 1034px 1522px #FFF , 1574px 178px #FFF , 366px 1585px #FFF , 1827px 227px #FFF , 1871px 1009px #FFF , 1742px 1502px #FFF , 1614px 337px #FFF , 819px 1670px #FFF , 1152px 1135px #FFF , 1781px 1093px #FFF , 40px 1886px #FFF , 685px 2000px #FFF , 967px 1583px #FFF , 636px 141px #FFF , 743px 1112px #FFF , 1519px 781px #FFF , 1986px 198px #FFF , 1507px 347px #FFF , 314px 1862px #FFF , 288px 980px #FFF , 517px 1136px #FFF , 1543px 55px #FFF , 1893px 729px #FFF , 943px 1477px #FFF , 970px 1022px #FFF , 740px 606px #FFF , 749px 694px #FFF , 1499px 1646px #FFF , 701px 1989px #FFF , 1500px 89px #FFF , 755px 1003px #FFF , 1210px 812px #FFF , 1219px 428px #FFF , 1267px 1240px #FFF , 121px 1232px #FFF , 1982px 1192px #FFF , 1654px 692px #FFF , 1717px 978px #FFF , 81px 18px #FFF , 524px 179px #FFF , 567px 1991px #FFF , 1041px 479px #FFF , 645px 2000px #FFF , 530px 1004px #FFF , 243px 1656px #FFF , 217px 380px #FFF , 185px 869px #FFF , 229px 1442px #FFF , 178px 601px #FFF , 822px 1532px #FFF , 894px 1167px #FFF , 1881px 1336px #FFF , 1378px 314px #FFF , 1240px 528px #FFF , 1338px 1893px #FFF , 132px 1713px #FFF , 1963px 1762px #FFF , 355px 1097px #FFF , 1359px 484px #FFF , 1764px 1849px #FFF , 550px 795px #FFF , 1091px 1340px #FFF , 1594px 775px #FFF , 1531px 571px #FFF , 1083px 363px #FFF , 780px 1170px #FFF , 824px 175px #FFF , 754px 1630px #FFF , 378px 335px #FFF , 1006px 1906px #FFF , 694px 911px #FFF , 888px 991px #FFF , 325px 1515px #FFF , 1449px 1534px #FFF , 1277px 314px #FFF , 1706px 65px #FFF , 32px 1106px #FFF , 994px 1122px #FFF , 1428px 153px #FFF , 1216px 1312px #FFF , 160px 605px #FFF , 1413px 1551px #FFF , 1934px 163px #FFF , 1920px 1378px #FFF , 1765px 1647px #FFF , 1209px 476px #FFF , 364px 1134px #FFF , 363px 56px #FFF , 1811px 1064px #FFF , 917px 1965px #FFF , 1010px 358px #FFF , 696px 227px #FFF , 909px 1872px #FFF , 1647px 1318px #FFF , 789px 193px #FFF , 370px 889px #FFF , 850px 1822px #FFF , 482px 1912px #FFF , 1163px 1294px #FFF , 427px 1492px #FFF , 1116px 930px #FFF , 214px 1091px #FFF , 284px 870px #FFF , 1763px 1222px #FFF , 709px 184px #FFF , 452px 227px #FFF , 82px 1957px #FFF , 1834px 342px #FFF , 1537px 1933px #FFF , 259px 133px #FFF , 1705px 521px #FFF , 1479px 1370px #FFF , 145px 1781px #FFF , 987px 745px #FFF , 480px 976px #FFF , 1188px 1847px #FFF , 1240px 1154px #FFF , 1548px 1518px #FFF , 1356px 33px #FFF , 179px 1918px #FFF , 1665px 1725px #FFF , 194px 343px #FFF , 697px 146px #FFF , 544px 355px #FFF , 1114px 1144px #FFF , 1112px 665px #FFF , 1292px 1337px #FFF , 1442px 813px #FFF , 112px 1019px #FFF , 1045px 978px #FFF , 1907px 795px #FFF , 577px 1648px #FFF , 1696px 414px #FFF , 1925px 1870px #FFF , 124px 906px #FFF , 49px 1489px #FFF , 459px 1498px #FFF , 1666px 1965px #FFF , 101px 587px #FFF , 1959px 1243px #FFF , 728px 983px #FFF , 192px 1855px #FFF , 1503px 994px #FFF , 1616px 652px #FFF , 624px 766px #FFF , 1739px 1623px #FFF , 1049px 1374px #FFF , 785px 42px #FFF , 1535px 623px #FFF , 1954px 1112px #FFF , 1590px 218px #FFF , 561px 1910px #FFF , 256px 1149px #FFF , 406px 1956px #FFF , 1683px 1747px #FFF , 1256px 19px #FFF , 735px 1980px #FFF , 773px 1297px #FFF , 1338px 874px #FFF , 1993px 1716px #FFF , 1328px 1354px #FFF , 1339px 1163px #FFF , 1574px 1936px #FFF , 612px 796px #FFF , 434px 1606px #FFF , 1332px 1718px #FFF , 1172px 1588px #FFF , 650px 1689px #FFF , 1790px 883px #FFF , 1208px 431px #FFF , 1854px 401px #FFF , 421px 1123px #FFF , 489px 863px #FFF , 574px 1393px #FFF , 1959px 1089px #FFF , 1667px 815px #FFF , 312px 161px #FFF , 972px 1039px #FFF , 1032px 947px #FFF , 554px 1874px #FFF , 1034px 907px #FFF , 153px 1304px #FFF , 1015px 604px #FFF , 1205px 1608px #FFF , 402px 381px #FFF , 1731px 723px #FFF , 67px 1568px #FFF , 1447px 1245px #FFF , 1602px 35px #FFF , 961px 834px #FFF , 701px 1103px #FFF , 1264px 754px #FFF , 6px 502px #FFF , 1589px 1379px #FFF , 1587px 582px #FFF , 1442px 694px #FFF , 2000px 513px #FFF , 1036px 487px #FFF , 1252px 545px #FFF , 1355px 1685px #FFF , 283px 397px #FFF , 878px 1390px #FFF , 1909px 1081px #FFF , 970px 676px #FFF , 183px 297px #FFF , 1225px 982px #FFF , 1994px 1717px #FFF , 866px 1870px #FFF , 316px 605px #FFF , 1693px 571px #FFF , 939px 1850px #FFF , 237px 463px #FFF , 1267px 84px #FFF , 1133px 1137px #FFF , 958px 1522px #FFF , 618px 475px #FFF , 1334px 1373px #FFF , 497px 1432px #FFF , 927px 1115px #FFF , 373px 1767px #FFF , 665px 1171px #FFF , 650px 1048px #FFF , 687px 899px #FFF , 1019px 968px #FFF , 628px 224px #FFF , 1316px 207px #FFF , 1059px 608px #FFF , 980px 874px #FFF , 488px 1344px #FFF , 970px 603px #FFF , 1928px 1026px #FFF , 1860px 1628px #FFF , 427px 1237px #FFF , 153px 876px #FFF , 866px 1266px #FFF , 1806px 131px #FFF , 1175px 844px #FFF , 437px 1492px #FFF , 1154px 1916px #FFF , 708px 1482px #FFF , 966px 482px #FFF , 809px 261px #FFF , 197px 85px #FFF , 1985px 522px #FFF , 614px 137px #FFF , 1810px 1052px #FFF , 1356px 1320px #FFF , 688px 990px #FFF , 1384px 1649px #FFF , 951px 297px #FFF , 1650px 1666px #FFF , 480px 903px #FFF , 1481px 550px #FFF , 1066px 218px #FFF , 227px 1926px #FFF , 192px 1367px #FFF , 1123px 416px #FFF , 1787px 261px #FFF , 567px 1936px #FFF , 1045px 447px #FFF , 1197px 859px #FFF , 497px 256px #FFF , 382px 102px #FFF , 391px 1731px #FFF , 1061px 890px #FFF , 999px 990px #FFF , 847px 207px #FFF , 1952px 374px #FFF , 588px 1115px #FFF , 738px 987px #FFF , 1413px 1132px #FFF , 33px 692px #FFF , 1434px 1687px #FFF , 1424px 1576px #FFF , 1411px 547px #FFF , 868px 1448px #FFF , 532px 103px #FFF , 515px 187px #FFF , 157px 1530px #FFF , 1598px 524px #FFF , 399px 1731px #FFF , 593px 752px #FFF , 201px 1186px #FFF , 1593px 844px #FFF , 1905px 1581px #FFF , 917px 731px #FFF , 1640px 1478px #FFF , 342px 1990px #FFF , 12px 1004px #FFF , 929px 716px #FFF , 1361px 1608px #FFF , 1012px 1113px #FFF , 1410px 1810px #FFF , 1486px 991px #FFF , 92px 1871px #FFF , 1324px 1502px #FFF , 195px 768px #FFF , 139px 1673px #FFF , 1250px 1967px #FFF , 432px 922px #FFF , 1933px 1302px #FFF , 1762px 630px #FFF , 1697px 495px #FFF , 462px 237px #FFF , 979px 331px #FFF , 442px 1713px #FFF , 1487px 859px #FFF , 1684px 461px #FFF , 432px 806px #FFF , 1659px 1958px #FFF , 26px 1804px #FFF , 494px 118px #FFF , 879px 1980px #FFF , 1436px 1576px #FFF , 1925px 1749px #FFF , 198px 618px #FFF , 560px 1147px #FFF , 1505px 1404px #FFF , 1822px 428px #FFF , 1063px 187px #FFF , 1254px 1684px #FFF , 1094px 575px #FFF , 782px 1756px #FFF , 1420px 1486px #FFF , 793px 1748px #FFF , 411px 1455px #FFF , 241px 5px #FFF , 1932px 1635px #FFF , 1198px 229px #FFF , 51px 133px #FFF , 960px 228px #FFF , 1817px 1880px #FFF , 109px 1828px #FFF , 1586px 693px #FFF , 1461px 1714px #FFF , 733px 1010px #FFF , 1840px 1326px #FFF , 227px 393px #FFF , 1943px 1548px #FFF , 333px 780px #FFF , 1980px 993px #FFF , 387px 1816px #FFF , 352px 1067px #FFF , 1828px 1370px #FFF , 828px 1705px #FFF , 1159px 371px #FFF , 86px 1011px #FFF , 273px 899px #FFF , 1034px 805px #FFF , 1570px 1830px #FFF , 313px 376px #FFF , 347px 1621px #FFF , 950px 1756px #FFF , 1428px 1553px #FFF , 1050px 528px #FFF , 113px 1713px #FFF , 1778px 440px #FFF , 558px 32px #FFF , 1494px 1770px #FFF , 1726px 808px #FFF , 1240px 1217px #FFF , 641px 205px #FFF , 1868px 614px #FFF , 550px 305px #FFF , 496px 1381px #FFF , 1146px 1214px #FFF , 986px 1002px #FFF , 1029px 1579px #FFF , 691px 199px #FFF , 1109px 851px #FFF , 319px 588px #FFF , 836px 1642px #FFF , 119px 1750px #FFF , 1887px 1492px #FFF , 1465px 1019px #FFF , 1860px 1150px #FFF , 208px 220px #FFF , 1868px 1333px #FFF , 119px 711px #FFF , 898px 1427px #FFF , 294px 437px #FFF , 851px 1843px #FFF , 1473px 1444px #FFF , 1559px 402px #FFF , 1117px 1461px #FFF , 893px 1637px #FFF , 238px 1052px #FFF , 1820px 1993px #FFF , 764px 1311px #FFF , 1551px 834px #FFF , 90px 1433px #FFF , 1923px 374px #FFF , 214px 81px #FFF , 1518px 97px #FFF , 173px 741px #FFF , 715px 674px #FFF , 1583px 482px #FFF , 1139px 193px #FFF , 393px 1859px #FFF , 912px 1111px #FFF , 1340px 1176px #FFF , 187px 788px #FFF , 93px 1671px #FFF , 777px 1524px #FFF , 189px 816px #FFF , 1260px 1275px #FFF , 298px 188px #FFF , 557px 1949px #FFF , 1023px 904px #FFF , 805px 931px #FFF , 186px 1068px #FFF , 1720px 1323px #FFF , 1312px 191px #FFF , 978px 631px #FFF , 1454px 908px #FFF , 385px 692px #FFF , 1089px 509px #FFF , 879px 11px #FFF , 546px 871px #FFF , 1865px 881px #FFF , 675px 1417px #FFF , 1326px 833px #FFF , 43px 317px #FFF , 280px 1776px #FFF , 429px 663px #FFF , 1621px 1377px #FFF , 1169px 729px #FFF , 677px 1739px #FFF;
  }
  
  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    overflow-y: hidden;
    box-shadow: 1572px 163px #FFF , 1753px 1743px #FFF , 1055px 1396px #FFF , 1319px 1735px #FFF , 122px 987px #FFF , 616px 1117px #FFF , 1270px 85px #FFF , 514px 1964px #FFF , 545px 873px #FFF , 433px 1007px #FFF , 1573px 1118px #FFF , 597px 1557px #FFF , 1567px 653px #FFF , 1390px 275px #FFF , 519px 1894px #FFF , 259px 174px #FFF , 1784px 810px #FFF , 564px 708px #FFF , 595px 380px #FFF , 701px 1829px #FFF , 1031px 74px #FFF , 1177px 208px #FFF , 1415px 588px #FFF , 1428px 1263px #FFF , 30px 1267px #FFF , 1572px 1536px #FFF , 324px 56px #FFF , 370px 1771px #FFF , 1541px 1747px #FFF , 539px 963px #FFF , 525px 1084px #FFF , 843px 1668px #FFF , 521px 49px #FFF , 1492px 1675px #FFF , 380px 1292px #FFF , 1781px 1493px #FFF , 447px 1437px #FFF , 849px 1244px #FFF , 479px 24px #FFF , 100px 1697px #FFF , 1526px 1216px #FFF , 1108px 1296px #FFF , 1601px 153px #FFF , 966px 1741px #FFF , 116px 1107px #FFF , 761px 446px #FFF , 810px 1292px #FFF , 1625px 1774px #FFF , 61px 830px #FFF , 1273px 1699px #FFF , 1993px 1822px #FFF , 1745px 1530px #FFF , 720px 1952px #FFF , 1207px 1615px #FFF , 1614px 442px #FFF , 1360px 1632px #FFF , 860px 723px #FFF , 1136px 1901px #FFF , 441px 1869px #FFF , 1697px 48px #FFF , 1572px 474px #FFF , 308px 1956px #FFF , 957px 1869px #FFF , 1008px 482px #FFF , 973px 100px #FFF , 648px 595px #FFF , 591px 1236px #FFF , 1376px 1119px #FFF , 727px 1109px #FFF , 683px 1793px #FFF , 406px 107px #FFF , 1278px 25px #FFF , 51px 589px #FFF , 748px 1699px #FFF , 216px 970px #FFF , 97px 1489px #FFF , 282px 229px #FFF , 1907px 610px #FFF , 1576px 1787px #FFF , 1914px 1747px #FFF , 770px 766px #FFF , 304px 786px #FFF , 889px 1530px #FFF , 1254px 1296px #FFF , 1136px 249px #FFF , 1871px 251px #FFF , 467px 1578px #FFF , 278px 1628px #FFF , 926px 1408px #FFF , 1248px 1267px #FFF , 1167px 1631px #FFF , 862px 1214px #FFF , 169px 1460px #FFF , 1191px 1748px #FFF , 1659px 712px #FFF , 580px 517px #FFF , 1657px 862px #FFF , 927px 77px #FFF , 7px 208px #FFF , 1944px 320px #FFF , 782px 1153px #FFF , 938px 1165px #FFF , 355px 438px #FFF , 1454px 191px #FFF , 923px 413px #FFF , 1600px 904px #FFF , 280px 111px #FFF , 502px 240px #FFF , 1030px 344px #FFF , 1075px 1617px #FFF , 1557px 1487px #FFF , 1709px 886px #FFF , 45px 435px #FFF , 910px 58px #FFF , 998px 528px #FFF , 1400px 1440px #FFF , 943px 912px #FFF , 340px 265px #FFF , 472px 25px #FFF , 1690px 19px #FFF , 916px 669px #FFF , 1396px 1220px #FFF , 47px 1335px #FFF , 1510px 1831px #FFF , 1957px 1167px #FFF , 1199px 1930px #FFF , 1774px 1187px #FFF , 225px 1244px #FFF , 1431px 695px #FFF , 1097px 221px #FFF , 1912px 1265px #FFF , 1143px 921px #FFF , 976px 1104px #FFF , 806px 1718px #FFF , 1950px 193px #FFF , 1047px 1245px #FFF , 1239px 1639px #FFF , 414px 739px #FFF , 1600px 1284px #FFF , 668px 1141px #FFF , 1764px 821px #FFF , 1883px 1789px #FFF , 665px 1317px #FFF , 1166px 700px #FFF , 119px 121px #FFF , 975px 1674px #FFF , 1185px 238px #FFF , 1536px 270px #FFF , 287px 1005px #FFF , 215px 900px #FFF , 527px 1124px #FFF , 628px 303px #FFF , 254px 1619px #FFF , 1224px 989px #FFF , 1640px 1136px #FFF , 1446px 1643px #FFF , 291px 1406px #FFF , 1372px 829px #FFF , 1357px 5px #FFF , 1060px 1012px #FFF , 339px 1927px #FFF , 112px 1831px #FFF , 960px 741px #FFF , 903px 1630px #FFF , 411px 668px #FFF , 917px 1181px #FFF , 1840px 887px #FFF , 796px 1150px #FFF , 1516px 813px #FFF , 1036px 1638px #FFF , 218px 1631px #FFF , 259px 866px #FFF , 1566px 1671px #FFF , 796px 349px #FFF , 1306px 178px #FFF , 1036px 209px #FFF , 1086px 1139px #FFF , 1925px 128px #FFF , 887px 314px #FFF , 688px 153px #FFF , 1781px 1513px #FFF , 863px 956px #FFF , 1308px 1016px #FFF , 1102px 1120px #FFF , 47px 1041px #FFF , 1477px 1725px #FFF , 1336px 93px #FFF , 1011px 840px #FFF , 1322px 926px #FFF , 78px 742px #FFF , 1041px 512px #FFF , 492px 1629px #FFF , 830px 1090px #FFF , 851px 1772px #FFF , 1725px 1604px #FFF , 628px 906px #FFF , 991px 1792px #FFF , 1307px 1719px #FFF , 283px 1023px #FFF , 815px 1505px #FFF;
    animation: animStar 100s linear infinite;
  }
  #stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    overflow-y: hidden;
    height: 2px;
    background: transparent;
    box-shadow: 1572px 163px #FFF , 1753px 1743px #FFF , 1055px 1396px #FFF , 1319px 1735px #FFF , 122px 987px #FFF , 616px 1117px #FFF , 1270px 85px #FFF , 514px 1964px #FFF , 545px 873px #FFF , 433px 1007px #FFF , 1573px 1118px #FFF , 597px 1557px #FFF , 1567px 653px #FFF , 1390px 275px #FFF , 519px 1894px #FFF , 259px 174px #FFF , 1784px 810px #FFF , 564px 708px #FFF , 595px 380px #FFF , 701px 1829px #FFF , 1031px 74px #FFF , 1177px 208px #FFF , 1415px 588px #FFF , 1428px 1263px #FFF , 30px 1267px #FFF , 1572px 1536px #FFF , 324px 56px #FFF , 370px 1771px #FFF , 1541px 1747px #FFF , 539px 963px #FFF , 525px 1084px #FFF , 843px 1668px #FFF , 521px 49px #FFF , 1492px 1675px #FFF , 380px 1292px #FFF , 1781px 1493px #FFF , 447px 1437px #FFF , 849px 1244px #FFF , 479px 24px #FFF , 100px 1697px #FFF , 1526px 1216px #FFF , 1108px 1296px #FFF , 1601px 153px #FFF , 966px 1741px #FFF , 116px 1107px #FFF , 761px 446px #FFF , 810px 1292px #FFF , 1625px 1774px #FFF , 61px 830px #FFF , 1273px 1699px #FFF , 1993px 1822px #FFF , 1745px 1530px #FFF , 720px 1952px #FFF , 1207px 1615px #FFF , 1614px 442px #FFF , 1360px 1632px #FFF , 860px 723px #FFF , 1136px 1901px #FFF , 441px 1869px #FFF , 1697px 48px #FFF , 1572px 474px #FFF , 308px 1956px #FFF , 957px 1869px #FFF , 1008px 482px #FFF , 973px 100px #FFF , 648px 595px #FFF , 591px 1236px #FFF , 1376px 1119px #FFF , 727px 1109px #FFF , 683px 1793px #FFF , 406px 107px #FFF , 1278px 25px #FFF , 51px 589px #FFF , 748px 1699px #FFF , 216px 970px #FFF , 97px 1489px #FFF , 282px 229px #FFF , 1907px 610px #FFF , 1576px 1787px #FFF , 1914px 1747px #FFF , 770px 766px #FFF , 304px 786px #FFF , 889px 1530px #FFF , 1254px 1296px #FFF , 1136px 249px #FFF , 1871px 251px #FFF , 467px 1578px #FFF , 278px 1628px #FFF , 926px 1408px #FFF , 1248px 1267px #FFF , 1167px 1631px #FFF , 862px 1214px #FFF , 169px 1460px #FFF , 1191px 1748px #FFF , 1659px 712px #FFF , 580px 517px #FFF , 1657px 862px #FFF , 927px 77px #FFF , 7px 208px #FFF , 1944px 320px #FFF , 782px 1153px #FFF , 938px 1165px #FFF , 355px 438px #FFF , 1454px 191px #FFF , 923px 413px #FFF , 1600px 904px #FFF , 280px 111px #FFF , 502px 240px #FFF , 1030px 344px #FFF , 1075px 1617px #FFF , 1557px 1487px #FFF , 1709px 886px #FFF , 45px 435px #FFF , 910px 58px #FFF , 998px 528px #FFF , 1400px 1440px #FFF , 943px 912px #FFF , 340px 265px #FFF , 472px 25px #FFF , 1690px 19px #FFF , 916px 669px #FFF , 1396px 1220px #FFF , 47px 1335px #FFF , 1510px 1831px #FFF , 1957px 1167px #FFF , 1199px 1930px #FFF , 1774px 1187px #FFF , 225px 1244px #FFF , 1431px 695px #FFF , 1097px 221px #FFF , 1912px 1265px #FFF , 1143px 921px #FFF , 976px 1104px #FFF , 806px 1718px #FFF , 1950px 193px #FFF , 1047px 1245px #FFF , 1239px 1639px #FFF , 414px 739px #FFF , 1600px 1284px #FFF , 668px 1141px #FFF , 1764px 821px #FFF , 1883px 1789px #FFF , 665px 1317px #FFF , 1166px 700px #FFF , 119px 121px #FFF , 975px 1674px #FFF , 1185px 238px #FFF , 1536px 270px #FFF , 287px 1005px #FFF , 215px 900px #FFF , 527px 1124px #FFF , 628px 303px #FFF , 254px 1619px #FFF , 1224px 989px #FFF , 1640px 1136px #FFF , 1446px 1643px #FFF , 291px 1406px #FFF , 1372px 829px #FFF , 1357px 5px #FFF , 1060px 1012px #FFF , 339px 1927px #FFF , 112px 1831px #FFF , 960px 741px #FFF , 903px 1630px #FFF , 411px 668px #FFF , 917px 1181px #FFF , 1840px 887px #FFF , 796px 1150px #FFF , 1516px 813px #FFF , 1036px 1638px #FFF , 218px 1631px #FFF , 259px 866px #FFF , 1566px 1671px #FFF , 796px 349px #FFF , 1306px 178px #FFF , 1036px 209px #FFF , 1086px 1139px #FFF , 1925px 128px #FFF , 887px 314px #FFF , 688px 153px #FFF , 1781px 1513px #FFF , 863px 956px #FFF , 1308px 1016px #FFF , 1102px 1120px #FFF , 47px 1041px #FFF , 1477px 1725px #FFF , 1336px 93px #FFF , 1011px 840px #FFF , 1322px 926px #FFF , 78px 742px #FFF , 1041px 512px #FFF , 492px 1629px #FFF , 830px 1090px #FFF , 851px 1772px #FFF , 1725px 1604px #FFF , 628px 906px #FFF , 991px 1792px #FFF , 1307px 1719px #FFF , 283px 1023px #FFF , 815px 1505px #FFF;
  }
  
  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    overflow-y: hidden;
    box-shadow: 1176px 1138px #FFF , 86px 1301px #FFF , 709px 72px #FFF , 1607px 2000px #FFF , 1262px 158px #FFF , 1014px 520px #FFF , 366px 1947px #FFF , 997px 1694px #FFF , 587px 1541px #FFF , 957px 284px #FFF , 275px 590px #FFF , 1575px 1638px #FFF , 1773px 445px #FFF , 373px 1851px #FFF , 1252px 209px #FFF , 791px 1246px #FFF , 562px 1220px #FFF , 977px 1547px #FFF , 590px 1062px #FFF , 488px 1379px #FFF , 1058px 718px #FFF , 478px 1189px #FFF , 1321px 589px #FFF , 1174px 1602px #FFF , 943px 1885px #FFF , 944px 399px #FFF , 394px 1295px #FFF , 1180px 1131px #FFF , 1768px 608px #FFF , 1748px 871px #FFF , 52px 1802px #FFF , 591px 882px #FFF , 1667px 1791px #FFF , 1926px 509px #FFF , 1309px 814px #FFF , 104px 1992px #FFF , 1395px 1311px #FFF , 1534px 816px #FFF , 176px 488px #FFF , 652px 1938px #FFF , 1389px 1815px #FFF , 534px 995px #FFF , 1584px 1486px #FFF , 422px 279px #FFF , 478px 861px #FFF , 1016px 809px #FFF , 1309px 1012px #FFF , 840px 1122px #FFF , 660px 1967px #FFF , 725px 1873px #FFF , 201px 1479px #FFF , 1519px 1187px #FFF , 1194px 286px #FFF , 1009px 1055px #FFF , 1365px 1874px #FFF , 1558px 1379px #FFF , 956px 1767px #FFF , 520px 1171px #FFF , 786px 1213px #FFF , 1543px 439px #FFF , 1602px 934px #FFF , 1945px 1761px #FFF , 1298px 1961px #FFF , 1548px 1077px #FFF , 1794px 1444px #FFF , 1546px 1722px #FFF , 97px 857px #FFF , 1419px 59px #FFF , 1476px 289px #FFF , 287px 1050px #FFF , 34px 1238px #FFF , 1030px 876px #FFF , 1570px 69px #FFF , 1135px 853px #FFF , 247px 917px #FFF , 902px 1441px #FFF , 1120px 407px #FFF , 1522px 1778px #FFF , 1732px 1665px #FFF , 831px 432px #FFF , 451px 1113px #FFF , 1094px 121px #FFF , 385px 1033px #FFF , 218px 786px #FFF , 1058px 1857px #FFF , 1069px 1412px #FFF , 1005px 1968px #FFF , 1561px 111px #FFF , 1300px 1848px #FFF , 1053px 1117px #FFF , 12px 1951px #FFF , 1890px 1340px #FFF , 347px 630px #FFF , 1987px 41px #FFF , 565px 299px #FFF , 890px 59px #FFF , 1086px 476px #FFF , 673px 1336px #FFF , 1516px 466px #FFF , 1565px 305px #FFF;
    animation: animStar 150s linear infinite;
  }
  #stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    overflow-y: hidden;
    height: 3px;
    background: transparent;
    box-shadow: 1176px 1138px #FFF , 86px 1301px #FFF , 709px 72px #FFF , 1607px 2000px #FFF , 1262px 158px #FFF , 1014px 520px #FFF , 366px 1947px #FFF , 997px 1694px #FFF , 587px 1541px #FFF , 957px 284px #FFF , 275px 590px #FFF , 1575px 1638px #FFF , 1773px 445px #FFF , 373px 1851px #FFF , 1252px 209px #FFF , 791px 1246px #FFF , 562px 1220px #FFF , 977px 1547px #FFF , 590px 1062px #FFF , 488px 1379px #FFF , 1058px 718px #FFF , 478px 1189px #FFF , 1321px 589px #FFF , 1174px 1602px #FFF , 943px 1885px #FFF , 944px 399px #FFF , 394px 1295px #FFF , 1180px 1131px #FFF , 1768px 608px #FFF , 1748px 871px #FFF , 52px 1802px #FFF , 591px 882px #FFF , 1667px 1791px #FFF , 1926px 509px #FFF , 1309px 814px #FFF , 104px 1992px #FFF , 1395px 1311px #FFF , 1534px 816px #FFF , 176px 488px #FFF , 652px 1938px #FFF , 1389px 1815px #FFF , 534px 995px #FFF , 1584px 1486px #FFF , 422px 279px #FFF , 478px 861px #FFF , 1016px 809px #FFF , 1309px 1012px #FFF , 840px 1122px #FFF , 660px 1967px #FFF , 725px 1873px #FFF , 201px 1479px #FFF , 1519px 1187px #FFF , 1194px 286px #FFF , 1009px 1055px #FFF , 1365px 1874px #FFF , 1558px 1379px #FFF , 956px 1767px #FFF , 520px 1171px #FFF , 786px 1213px #FFF , 1543px 439px #FFF , 1602px 934px #FFF , 1945px 1761px #FFF , 1298px 1961px #FFF , 1548px 1077px #FFF , 1794px 1444px #FFF , 1546px 1722px #FFF , 97px 857px #FFF , 1419px 59px #FFF , 1476px 289px #FFF , 287px 1050px #FFF , 34px 1238px #FFF , 1030px 876px #FFF , 1570px 69px #FFF , 1135px 853px #FFF , 247px 917px #FFF , 902px 1441px #FFF , 1120px 407px #FFF , 1522px 1778px #FFF , 1732px 1665px #FFF , 831px 432px #FFF , 451px 1113px #FFF , 1094px 121px #FFF , 385px 1033px #FFF , 218px 786px #FFF , 1058px 1857px #FFF , 1069px 1412px #FFF , 1005px 1968px #FFF , 1561px 111px #FFF , 1300px 1848px #FFF , 1053px 1117px #FFF , 12px 1951px #FFF , 1890px 1340px #FFF , 347px 630px #FFF , 1987px 41px #FFF , 565px 299px #FFF , 890px 59px #FFF , 1086px 476px #FFF , 673px 1336px #FFF , 1516px 466px #FFF , 1565px 305px #FFF;
  }
pan {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-2000px);
    }
  }
</style>