
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <div>
       <h2>Results</h2>
       <h1>Option A total: <span id="optionA-total"></span></h1>
       <h1>Option B total: <span id="optionB-total"></span></h1>
       <h1>Option C total: <span id="optionC-total"></span></h1>
       <h1>Option D total: <span id="optionD-total"></span></h1>
     </div>
   <script src="quiz-end.js"></script>
</body>
</html>