<%- include("templates/header", {cssPage: ""}) %>
<section style="background-color: #161513; color: darkgray;">
<div class="d-flex gap-2 justify-content-center py-5">
  <form action="/resetUserpassword" method="post" class="text-center">
    Please enter your email and a new password
    <div class="form-floating">
      <input
        name="email"
        id="floatingInput"
        class="form-control"
        type="text"
        placeholder="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        name="password"
        id="floatingPassword"
        class="form-control"
        type="password"
        placeholder="password"
      />
      <label for="floatingPassword">New Password</label>
    </div>
    <button class="w-100 btn btn-lg btn-primary">Submit</button>
  </form>
</div>
</section>
<%- include("templates/footer") %>
