<%- include("templates/header", {cssPage: ""}) %> 

<div class="card-body p-md-5">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        <div class = "regg">
          <img src="doorway2.png" class="img-fluid" alt="Sample image">
        <br>   <br>   
        <form action='/submituser' method='post'>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
               <label for="floatingUsername">Username</label>
               <input name='username' class="form-control" id="floatingUsername" type='text' placeholder='Username'>
      
               

            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 71.2px;"></div><div class="form-notch-trailing"></div></div></div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
               <label for="floatingInput">Email address</label>
               <input name='email' id="floatingInput" class="form-control" type='text' placeholder='Email' >
          
            
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
            <div class="form-outline flex-fill mb-0">
               <label for="floatingPassword">Password</label>
               <input name='password' id="floatingPassword" class="form-control" type='password' placeholder='Password'>
         

            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 64.8px;"></div><div class="form-notch-trailing"></div></div></div>
          </div>




          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <button class="btn w-100 btn-light btn-lg">Register</button>
          </div>

    
          <div class="error-messages">
          </div>
               <% if (missing) { %>
                 <p>Username is required</p>
               <% } %>
               <% if (missings) { %>
                 <p>Email is required</p>
               <% } %>
               <% if (missingss) { %>
                 <p>Password is required</p>
               <% } %>
               <% if (ep) { %>
                 <p>Email and password are required</p>
               <% } %>
               <% if (eu) { %>
                 <p>Username and email are required</p>
               <% } %>
               <% if (up) { %>
                 <p>Password and username are required</p>
               <% } %>
               <% if (eup) { %>
                 <p>Password, username, and email are required</p>
               <% } %>
             </div>
        </form>

    


      
   
      </div>
    </div>
  </div>


    <%- include("templates/footer") %>

    <style>
      .img-fluid{
        padding-left: 25px;
  padding-right:25px;

  margin-bottom:-25px;
width:100%;
        height: 100%;
      }
     .form-control {
        background-color: black;
        color: white;
    }

    .form-control::placeholder { /* Most modern browsers support this */
        color: rgba(211, 211, 211, 0.705);
    }

    .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color:  rgba(211, 211, 211, 0.705);
    }

    .form-control::-moz-placeholder { /* Firefox 19+ */
      color: rgba(211, 211, 211, 0.705);
    }

    .form-control:-ms-input-placeholder { /* IE 10+ */
      color:  rgba(211, 211, 211, 0.705);
    }

    .form-control:-moz-placeholder { /* Firefox 18- */
      color:  rgba(211, 211, 211, 0.705);
    }

    .form-control:focus {
        background-color: black;
        color: white;
        box-shadow: none;
    }

      .regg{
        padding-left: 12px; padding-right: 12px;

      }
      *{
     
        overflow-x:hidden;
   
        color:white;
      }
      body{
        color:white;
 
      }
     .error-messages{
      text-align: center;
      align-items: center;
      justify-content: center;
          color:white;
     }
    </style>
