<%- include("templates/header", {cssPage: ""}) %> 

<div class="col-md-12 text-center">
    <br><br><br><br>
    <h1 class="text-center pt-5 px-4 text-white">Create an effective schedule with My Study Habits!</h1>

    <br><br><br><br><br>
    <a class="btn btn-light btn-lg" href="/studyHabitsQ1">
        Continue
        <svg class="bi ms-1" width="20" height="20"><use xlink:href="#arrow-right-short"></use></svg>
    </a>
</div>

<br><br>
<%- include("templates/footer") %>